<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="static/css/style.css?<?php echo filemtime('static/css/style.css') ?>" rel="stylesheet">
    <title>BergOnline Login</title>
</head>
<body>
   <h1>BERG ONLINE<br> 
       Your guide to Annenberg Hall.</h1>

       <img alt="{{ top }}" class="border img-fluid" src="http://memegen.link/custom/{{ top | urlencode }}/{{ bottom | urlencode }}.jpg?alt=https://pbs.twimg.com/media/ED7-hs3UEAAJXFl.jpg" title="{{ top }}">
</body>
</html>