{% extends "layout.html" %}

{% block title %}
    Input
{% endblock %}

{% block main %}
<form action="/input" method="post">
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="name" placeholder="Name" type="text">
    </div>
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="servings" placeholder="Servings" type="text">
    </div>
    <div class="mb-3">
        <div class="mb-3">
            <button class="button" type="submit">Input Meal</button>
        </div>
    </div>
</form>
{% endblock %}

</body>
</html>
